.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(133, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 30px;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

.modal-body label {
  font-size: 20px;
  margin-top: 10px;
}

.modal-body-button {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.modal-body button {
  margin: 70px 0px;
  border: 2px solid #5cb85c;
  border-radius: 30px;
  padding: 40px 30px;
  width: 200px;
  align-self: center;
  color: #5cb85c;
  font-size: 30px;
}

.modal-body button:last-child {
  color: red;
  border: 2px solid red;
}
